.git
.github
.gitlab

.idea
.vscode
*.iml

**/.DS_Store
**/Thumbs.db

**/node_modules
**/dist
**/.nuxt
**/.next
**/.cache
**/.eslintcache
**/coverage
**/*.tsbuildinfo

**/bin
**/tmp
**/*.test
**/*.out
**/coverage.out

**/*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

**/.env
**/.env.*
!.env.example
